//Добавляем шрифт Lato
// @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//Файл обнуляющих стилей
@import "_nullstyle";

body{
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
      margin: 50px 50px 50px 50px;
}

.header {
      background: #445162;

      &__body {
      }

      &__title {
            font-size: 60px;
      }

      &__list {
      }

      &__link {
            font-size: 20px;
            background: url(../img/icons/icon.png);
      }

      &__img {
      }
}
